body {
    background-image:url("https://www.freeppt7.com/uploads/180808/1-1PPP95T1a6.jpg");
}
#heading {
color:aqua;

}
#button1 {
    color:lightpink;
    background-color: yellow;
    width:200px;
    height:100px;
    font-size:x-large;
    font-family:Verdana;
}